@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
*
{
    padding: .40em;
    margin: .40em;
    box-sizing: border-box;
}
$accent1: teal;
$accent2: gold;
$fontfam: 'Water Brush', cursive;


body
{
  background-image: url("back.jpg");
  background-size: cover;
   
    
}


p
{
    font-size: large;
    color: $accent1;
}
h1
{   
    
    
    font-family: $fontfam;
    font-size: 10em;
    color: $accent2;
}
#second
{
    
    align-items: flex-end;
    justify-content: end;
}
#inter
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#cards 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

